html {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 60px;
}

form {
    font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    font-size: 36px;
}

#container-question {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}