html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-left: 70px;
}

#events-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
    padding: 20px;
    margin: 10px;
}

h2 {
    margin-top: 0;
}

.event-details {
    display: flex;
    justify-content: space-between;
}

.event-details a {
    text-decoration: none;
    color: #4e84be;
}

#events-list .event {
    border: 1px solid black;
    padding: 20px;
}

#pagination {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#pagination li {
    display: inline;
    margin: 0 5px;
}

#pagination a {
    text-decoration: none;
    color: #007BFF;
}

#pagination a:hover {
    text-decoration: underline;
}

